body {
    font-family: 'Inter', sans-serif;
    background: #f5f6fa; 
    margin: 0;
    padding: 0;
}

/* Card */
.card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

/* Form */

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
}

input:focus, select:focus, textarea:focus {
    border-color: #9f6920; 
    box-shadow: 0 0 0 0.2rem rgba(159, 105, 32, 0.25);
}

button {
    background: #2d3250 !important;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
tton:hover {
    opacity: 0.9;
}
/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}
table thead {
    background: #2d3250 !important;
    color: white !important;
}
table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
.alert {
    padding: 12px;
    border-radius: 6px;
    background: #ffe5e5 !important;
    color: #f11010 !important; 
    margin-bottom: 15px;
}
